body, html {
    direction: rtl;
    background-color: #fff;
    font-family: initial;
    font-weight: bold;
    height: 100vh;
    overflow:hidden;
}

.top {
    position: fixed;
    background-color: #fff;
    top: 0;
    width: 100%;
    height: 10px;
    z-index: 99;
}

/*---------- start style cirlcl ---------------*/
.body_circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.body_circle img{ width: 400px; height: 400px}

.body_circle::before {
    content: "";
    position: fixed;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #0030ff26;
    right: 15%;
    bottom: 0;
}

.body_circle::after {
    content: "";
    position: fixed;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #e300a214;
    left: 0;
    top: 0;
}
/*---------- end style cirlcl ---------------->*/


.content {position: relative; width:100%; height: 100%;    padding: 7px;}

.aside {
    background-color: #04152c;
    height: 100vh;
    width: 18%;
    position: fixed;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    color: #c7c7c7;
    border-radius: 20px;

}

.contain {
    position: absolute;
    left: 10px;
    width: 80%;
    border-radius: 20px;
    overflow: hidden auto ;
    height: 100%;
}
/*---------star style navigation bar ------------*/
.aside .navImage {margin: 5px 0 17px 0;}

.aside .navImage img {  border-radius: 50%; width: 130px; height: 130px;}

.aside ul {
    width: 100%;
    height: 100%;
    background-color: #0f1640;
    border-top-left-radius: 130px;
    margin-top: 10px;
    padding-top: 50px;
    list-style: none;
}

.aside li {
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

a.link {
    width: 165px;
    height: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    border-radius: 20px 0;
    transition: .5s linear;
    color: #fff;
    opacity: .6;
    padding-right: 10px;
}

a.link:hover, a.active { background-color:#04152c; opacity: 1;}

a.link i.fa {
    width: 35%;
    background:#04152c;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    transition: 1s linear;
}

/*---------End style navigation bar ------------*/

/*---------Start style contain page ------------*/
.contain h3 {height: 55px; border-radius: 20px 20px 0 0; padding: 15px;}

.aside .created_By {
    position: absolute;
    bottom: 15px;
    background-color: #1957ab;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 10px 28px;
    border-radius: 20px 0;
}

/*----------------------end card icon delete messages*********************/
.alert.alert-danger.already_exist {position: absolute; width: 100%; text-align: center;top:0; display: none}

.messages {
    width: 240px;
    height: 240px;
    background-color: #1a1616cf;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 25px;
    z-index: 9999;
    display: none
}

.messages .contain_card, .errors .contain_card {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 1.5vw;
    text-align: center;
    align-content: center;
    justify-content: space-between;
    height:100%;
    width: 100%;
    position: relative;
}
.messages .icon {
    background-color: #43ff43;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vw;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%);
}

.messages .success {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
    font-weight: 700;
}

.messages button{
    width: 100%;
    background: #43ff43;
    color: antiquewhite;
    border: none;
    border-radius: 0 0 25px 25px;
    height: 30%;
    font-weight:700
}

/*---------------------end style contain form_log1 ------*/
